
.wt-data{
  width: 100%;
  height: 100px;
  line-height: 100px;
  margin: 1rem auto;
  background-color: rgba(200, 200, 200, .5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wt-temperature{
  width: 50%;
  line-height: 100px;
  height: 100%;
  display: inline-block;
}
.wt-temperature .wt-temperature-icon{
  color: tomato;
}
.wt-temperature .wt-temperature-temp{
  font-size: 2rem;
  font-weight: bold;
  padding-left: .5rem;
  color: #333;
} 
.wt-temperature .wt-temperature-type{
  font-weight: bold;
  color: #444;
}

.wt-extra-info{
  width: 50%;
  display: inline-block;
  line-height: 25px;
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  padding: .5rem;
  box-sizing: border-box;
}

.wt-extra-info .wt-extra-info-text{
  display: block;
  color: #333;
  font-size: 1rem;
}