.wt-location-list{
  width: 100%;
  max-width: 1060px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
@media only screen and (max-width: 720px){
  .wt-location-list{
    justify-content: center;
  }
}